<h2 class="mat-title">{{ "AUTHENTICATE.AUTHENTICATE_REQUIRED" | translate }}</h2>
<p class="mat-body-2">{{ "AUTHENTICATE.AUTHENTICATE_REQUIRED_EXPLAIN" | translate }}</p>


<span class="mat-subheading-1">{{ "AUTHENTICATE.AUTHENTICATE_WITH" | translate }}</span>
<a
  href="https://discordapp.com/api/oauth2/authorize?client_id=360994842119241730&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fauthenticate%2Fdiscord&response_type=code&scope=identify%20email">
  <img src="https://discordapp.com/assets/192cb9459cbc0f9e73e2591b700f1857.svg" alt="Connect with discord">
</a>
